* {
    font-family: Helvetica, Arial, sans-serif;
}

html {
    font-size: 100%;
}

.my_container {
    width: 95%;
    margin: 0 auto;
}

.rounded-6 {
    border-radius: 0.6rem!important;
}

header.sticky-top {
    top: -1px;
}

.header-top svg {
    width: 4em;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}

.my_nav-bar-list-inline .list-inline li::before {
    content: '\2022 ';
}

.dropdown-menu {
    border: 0;
    border-radius: 0;
}

.dropdown-menu[data-bs-popper] {
    top: 90%;
    left: 0;
}

.jumbo-top.container-fluid {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.jumbo-top .content {
    padding-top: 60%;
    padding-bottom: 10%;
    color: white;
}

.jumbo-bot .img_container.active {
    border: 1px solid blue;
    border-radius: 0.6rem;
    padding: 0.2em;
}

.discover .img_container img {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .discover .img_container img {
        width: 50%;
    }
}

@media screen and (max-width: 991px) {
    .navbar-collapse .btn {
        width: 50%;
    }
    
    .navbar-collapse .search-button {
        width: 100%;
        border: 1px solid black;
        margin: 1em 0;
        padding: 0.5em;
    }
}

.discover .img_container.active {
    border-bottom: 2px solid blue;
}

.banner-ad.container-fluid {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}