* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    top: -1px;
}

.header-top svg {
    width: 4em;
}

section.note .my_container {
    width: 40%;
    margin: 0 auto;
    line-height: 1.8em;
}

footer .my_container {
    width: 95%;
    margin: 0 auto;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}

.my_nav-bar-list-inline .list-inline li::before {
    content: '\2022 ';
    margin-right: 0.5em;
}

.my_nav-bar-list-inline .list-inline li a {
    text-decoration: none;
    color: black;
}

.my_nav-bar-list-inline .list-inline li:hover a {
    color: blue;
}

.dropdown-toggle::after {
    vertical-align: middle;
    border: 0;
    content: '';
    height: 15px;
    width: 15px;
    background: url(../img/chevron-down-solid.svg) no-repeat;
}

.dropdown-toggle:hover:after {
    background: url(../img/chevron-down-solid-hover.svg) no-repeat;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: blue;
}

.dropdown-toggle.show::after {
    background: url(../img/chevron-down-solid.svg) no-repeat;
    transform: rotate(180deg);
}

.dropdown-toggle.show:hover:after {
    background: url(../img/chevron-down-solid-hover.svg) no-repeat;
    transform: rotate(180deg);
}


.my_nav_bot .logo {
    width: 10em;
}

.my_nav_bot .nav-item.active a {
    color: blue;
    position: relative;
}

.my_nav_bot .nav-item.active a:after {
    content: '';
    position: absolute;
    top: 55px;
    left: -5px;
    width: calc(100% + 10px);
    height: 3px;
    background-color: blue;
}

@media screen and (max-width:992px) {
    .my_nav_bot .nav-item.active {
        background-color: blue;
    }

    .my_nav_bot .nav-item.active a {
        color: white;
    }
    
    .my_nav_bot .nav-item.active a:after {
        display: none;
    }
}

.jumbo {
    background-image: url(../img/cose-bianche.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 5em;
    padding-bottom: 20em;
}

section.controller img {
    width: 80%;
}

section.controller a {
    text-decoration: none;
}

section.controller a:hover {
    text-decoration: underline;
}

section.cuffie img {
    width: 50%;
}

footer {
    background-color: #00439C;
    color: white;
}

footer .logo_ps,
footer .logo_sie {
    width: 100px;
    margin-bottom: 2em;
}

footer .list-unstyled {
    line-height: 2.5em;
}

footer .list-unstyled a {
    text-decoration: none;
    color: white;
}